.side-menu {
  position: fixed;

  top: 50%;
  left: 0;

  width: 300px;

  transform: translate(-100%, -50%);

  transition: transform 0.3s ease;

  z-index: 1000;
}

.side-menu.open {
  transform: translate(0, -50%);
}

/* TERMINAL */

.terminal {
  background: #050505;

  border: 1px solid #353535;
  border-left: none;

  border-radius: 0 6px 6px 0;

  box-shadow:
    0 12px 40px rgba(0, 0, 0, 0.45),
    inset 0 0 20px rgba(255, 255, 255, 0.015);

  overflow: hidden;

  font-family: "Consolas", monospace;
}

/* CABEÇALHO */

.terminal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 30px;

  padding: 0 10px;

  background: #1c1c1c;

  border-bottom: 1px solid #343434;

  color: #d7d7d7;

  font-size: 15px;
}

.terminal-controls {
  display: flex;
  gap: 10px;

  color: #999;
}

/* CONTEÚDO */

.terminal-content {
  padding: 14px;

  color: #d8d8d8;

  font-size: 17px;
}

.terminal-command {
  margin: 0 0 14px;

  color: #8f8f8f;
}

/* OPÇÕES */

.terminal-options {
  display: flex;
  flex-direction: column;

  gap: 4px;
}

.terminal-options button {
  width: 100%;

  display: flex;
  align-items: center;

  gap: 10px;

  padding: 12px 8px;

  background: transparent;

  border: none;

  color: #d7d7d7;

  font-family: inherit;
  font-size: 16px;
  font-weight: bolder;

  text-align: left;

  cursor: pointer;

  transition:
    background 0.15s ease,
    color 0.15s ease,
    padding-left 0.15s ease;
}

.terminal-options button span {
  color: #777;
}

.terminal-options button:hover {
  background: #181818;

  color: white;

  padding-left: 12px;
}

.terminal-options button:hover span {
  color: white;
}

/* PROMPT */

.terminal-prompt {
  display: flex;
  align-items: center;

  gap: 5px;

  margin-top: 15px;

  color: #777;
}

.cursor {
  width: 7px;
  height: 14px;

  background: #d7d7d7;

  animation: cursorBlink 1s steps(1) infinite;
}

@keyframes cursorBlink {
  0%,
  50% {
    opacity: 1;
  }

  51%,
  100% {
    opacity: 0;
  }
}

/* SETA */

.side-menu-toggle {
  position: absolute;

  top: 50%;
  right: -42px;

  transform: translateY(-50%);

  width: 42px;
  height: 78px;

  border: 1px solid #353535;
  border-left: none;

  border-radius: 0 6px 6px 0;

  background: #080808;

  color: #d7d7d7;

  font-size: 42px;

  cursor: pointer;

  transition:
    background 0.2s ease,
    color 0.2s ease;
}

.side-menu-toggle:hover {
  background: #5e5d5d;
  color: white;
}
